---

---

<footer class="flex justify-center text-xs">
  © 2024, BUILT WITH &lt;3 BY&nbsp;<a href="https://quartztz.github.io"
    >QTZTZ</a
  >&nbsp;WITH&nbsp;<a href="https://astro.build/">ASTRO</a>.
</footer>
