---
/**
 * footer component
 * 
 * this component displays a footer with a copyright notice and links to the 
 * quartztz's website and the to astro framework.
 */
---

<footer class="flex justify-center text-xs p-4">
  © 2024, BUILT WITH &lt;3 BY&nbsp;<a href="https://quartztz.github.io"
    >QTZTZ</a
  >&nbsp;WITH&nbsp;<a href="https://astro.build/">ASTRO</a>.
</footer>
