---
/**
 * team member component
 * 
 * props:
 * - name: the name of the team member
 * - desc: a short description of the team member
 * - avatar: the url of the team member's avatar image
 * - urls: an array of urls related to the team member
 * 
 * this component displays a team member's avatar, name, and description.
 */
const { name, desc, avatar, urls } = Astro.props;
---

<div class="flex items-center p-4">
  <div class="p-2">
    {
      avatar ? (
        <img src={avatar} alt={name} class="w-20 h-20 rounded-full" />
      ) : (
        <div class="w-20 h-20 rounded-full bg-gray-300" />
      )
    }
  </div>
  <div class="ml-4 flex-1 p-2">
    <h2 class="text-lg font-bold">{name}</h2>
    <p class="text-lg leading-tight">{desc}</p>
  </div>
</div>
