---
/**
 * home section component
 * 
 * props:
 * - title: the title of the section
 * 
 * this component displays a section with a title and a slot for additional 
 * content.
 */
const { title } = Astro.props;
---

<div class="space-y-4">
  <h2 class="text-2xl">{title}</h2>
  <slot />
</div>
