---
/**
 * main layout
 * 
 * this layout is used as the base structure for all pages. it includes a header 
 * at the top, a footer at the bottom, and a slot for the main content in 
 * between.
 */
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Astro Site</title>  <!-- todo: change this (is the tab title) -->
  </head>
  <body>
    <div class="flex flex-col w-full gap-4">
      <Header />
      <div class="w-full flex justify-center">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
